.element-bouton{
    background-color: rgb(231, 229, 229);
    color: black;
    border: 1px solid transparent;
    border-radius: 30px;
    height: 40px;
    width: 50%;
    font-size: 17px;
    cursor: pointer;
    box-sizing: content-box;
    box-shadow: 0 0 2px rgb(75, 102, 80);
}