@import "color.scss";
body{
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: $primary_color;
    background-size: cover;
    text-align: center;
    background-repeat: no-repeat;
    
}
.inside{
    display: flex;
    flex-wrap:nowrap;
    & .left{
        width: 20%;
        position: fixed;
        z-index: 1;
        background-image: linear-gradient(90deg , rgb(243, 190, 190) , white);
        border-top-left-radius: 110px;
        border-top-right-radius: 110px;
        border-bottom-right-radius: 110px;
        border-bottom-left-radius: 110px;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    & .right{
        width: 75%;
        text-align: center;
        margin-left: auto;
        & footer{
            text-align: center;
            background-color: $secondary_color;
            z-index: 2;
        }
    }

} 


